<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{{ education.type_of_degree }}
            </a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <p>{{ education.name_of_institution }} </p>
                </div>
                <div class="col-md-6">
                    <p>{{ education.year_started }} to {{ education.year_ended }}</p>
                </div>
            </div>
            </div>
    </div>
</div>