{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
		{% block title %}

		{% endblock title %}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{% static './images/favicon.ico' %}">

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static './css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static './css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static './css/bootstrap.css' %}">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static './css/flexslider.css' %}">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="{% static './fonts/flaticon/font/flaticon.css' %}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static './css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static './css/owl.theme.default.min.css' %}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static './css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static './js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<div id="colorlib-page">
		<div class="container-wrap">
		<a href="{% url 'home' %}" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
			<div class="text-center">
				<a href="{% url 'home' %}"><div class="author-img" style="background-image: url(../static/images/about.jpg);"></div></a>
				<h1 id="colorlib-logo"><a href="{% url 'about' %}">
					{% if abouts %}
					{% for about in abouts %}
						{{ about.first_name }} {{ about.last_name }}
					{% endfor %}
					{% endif %}
					</a></h1>
				<span class="position"><a href="{% url 'services' %}">
					{% if abouts %}
					{% for about in abouts %}
						{{ about.career }}</a> in {{ about.country }}</span>
					{% endfor %}
					{% endif %}
			</div>
			
			<nav id="colorlib-main-menu" role="navigation" class="navbar">
				<!-- <div id="navbar" class="collapse"> -->
					<ul>
						<li class="{%if request.path == '/home/' %} active {%endif%}"><a href="{% url 'home' %}" data-nav-section="home">Home</a></li>
						<li class="{%if request.path == '/about/' %} active {%endif%}">
							 <a href="{% url 'about' %}" data-nav-section="about">About</a>
						</li>
						<li class="{%if request.path == '/services/' %} active {%endif%}"><a href="{% url 'services' %}" data-nav-section="services">Services</a></li>
						<li class="{%if request.path == '/skills/' %} active {%endif%}"><a href="{% url 'skills' %}" data-nav-section="skills">Skills</a></li>
						<li class="{%if request.path == '/education/' %} active {%endif%}"><a href="{% url 'education' %}" data-nav-section="education">Education</a></li>
						<li class="{%if request.path == '/experiences/' %} active {%endif%}"><a href="{% url 'experience' %}" data-nav-section="experience">Experience</a></li>
						<li class="{%if request.path == '/works/' %} active {%endif%}"><a href="{% url 'work' %}" data-nav-section="work">Work</a></li>
						<li class="{%if request.path == '/blogs/' %} active {%endif%}"><a href="{% url 'blog' %}" data-nav-section="blog">Blog</a></li>
						<li class="{%if request.path == '/contact/' %} active {%endif%}"><a href="{% url 'contact' %}" data-nav-section="contact">Contact</a></li>
					</ul>
				<!-- </div> -->
			</nav>


			<div class="colorlib-footer">
				<p><small>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright <script>document.write(new Date().getFullYear());</script> All rights reserved. Made with <i class="icon-heart" aria-hidden="true"></i> <!-- by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. </span> <span>Distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a></span> <span>Demo Images: <a href="https://unsplash.com/" target="_blank">Unsplash.com</a></span></small></p> -->
				<ul>
					<li><a href="#"><i class="icon-facebook2"></i></a></li>
					<li><a href="#"><i class="icon-twitter2"></i></a></li>
					<li><a href="#"><i class="icon-instagram"></i></a></li>
					<li><a href="#"><i class="icon-linkedin2"></i></a></li>
				</ul>
			</div>

		</aside>
		
	<div id="colorlib-main">
		{% block content %}

		{% endblock content %}
	
	</div><!-- end:colorlib-main -->
	</div><!-- end:container-wrap -->
	</div><!-- end:colorlib-page -->

	<!-- jQuery -->
	<script src="{% static './js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static './js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static './js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static './js/jquery.waypoints.min.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static './js/jquery.flexslider-min.js' %}"></script>
	<!-- Owl carousel -->
	<script src="{% static './js/owl.carousel.min.js' %}"></script>
	<!-- Counters -->
	<script src="{% static './js/jquery.countTo.js' %}"></script>
	
	
	<!-- MAIN JS -->
	<script src="{% static './js/main.js' %}"></script>
	

	</body>
</html>

